body{background-color: black;}
h1{text-align: center;
color: fuchsia;}
.bica{color: white;}
.estrogen{color: lightcoral;}
.progesterone{color: aquamarine;}
.one{color: chartreuse;}
.two{color: darkseagreen;}
.three{color: springgreen;}
img{height: 500px;
width: 50%;}
